/* Whole page */
body {
  background: #00b3e6;
}

/* All divs */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* Header with id main-header */
#main-header {
  font-size: 22px;
  color: red;
}

/* Elements with class perspective-questions */
.perspective-questions {
  font-style: italic;
}
